/* All common css starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
}
.container {
  max-width: 1600px;
}
.containerSmall {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
.sectionTop {
  align-items: end;
}
.sectionHeading {
  color: #181a20;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.sectionDesc {
  color: #717171;
  font-size: 14px;
  line-height: 26.6px;
  padding-top: 7px;
}

.sectionLink {
  display: flex;
  justify-content: end;
}
.sectionLink a {
  color: #181a20;
  font-size: 15px;
  font-weight: 600;
  line-height: 28.5px;
  padding-right: 7px;
  text-align: right;
}
/* All common css ends */

/* Header Section Starts */
#header {
  padding: 15px 0;
}

.navLinkContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 0 8px;
  transition: all 0.3s;
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 26.6px;
  color: #000;
}

.navRect {
  width: 8px;
  height: 4px;
  background: #000;
  transition: all 0.3s;
}

.navLinkContainer:hover .navRect {
  margin-left: 10px;
}

.navLinkContainer:hover .nav-link {
  color: #000;
}

.headerRight {
  display: flex;
  gap: 25px;
  align-items: center;
}

.headerRightItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerRightItem i,
.headerRightItem p,
.headerRightItem a {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  line-height: 14px;
}

.addProp {
  padding: 10px 29px;
  border: 1px solid #000;
  border-radius: 55px;
  transition: all 0.3s;
}

.addProp:hover {
  background: #000;
  color: #fff;

  .fa-arrow-up {
    background: #000;
    color: #fff;
  }
}

.fa-arrow-up {
  transform: rotate(35deg);
  margin-left: 5px;
  transition: all 0.3s;
}

.navbar-toggler {
  border: none;
}
.hamBurgerMenu .top,
.hamBurgerMenu .bottom {
  height: 2px;
  background: #000;
}

.hamBurgerMenu .top {
  width: 25px;
}

.hamBurgerMenu .bottom {
  width: 20px;
  margin-top: 8px;
}

.hamBurgerMenu .bottomContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* Header Section Ends */

/* Banner Section Starts */
#banner {
  background: url(../images/bannerImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 620px;
  padding-bottom: 120px;
}

#banner .input-group {
  background: #fff;
  max-width: 976px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .input-group input {
  border: none;
  border-right: 1px solid #e9e9e9;
  padding: 16px 20px;
  max-width: 395px;
}

#banner .input-group input[placeholder] {
  color: #6c757d;
  font-size: 14px;
}

.bannerFormBtn {
  padding-right: 200px;
}

.typeFilter {
  border-right: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 30px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter i {
  padding-left: 45px;
}

.filter span {
  color: #181a20;
  font-size: 14px;
  font-weight: 600;
  line-height: 26.6px;
  padding-left: 15px;
}

.searchBtn {
  margin-right: 0;
  background: #eb6753;
  color: #fff;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchHouse {
  display: none;
}
/* Banner Section Ends */

/* Featured Section Starts */
#featured {
  padding-top: 300px;
}

.card {
  border-radius: 6px;
  border: none;
  margin-top: 50px;
}

.cardImg {
  position: relative;
}
.cardImg span {
  position: absolute;
  left: 20px;
}
.featured {
  padding: 7px 20px;
  background: #eb6753;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  top: 20px;
}
.housePrice {
  padding: 5px 15px;
  background: #fff;
  border-radius: 5px;
  color: #181a20;
  font-size: 15px;
  font-weight: 600;
  line-height: 28.5px;
  bottom: 20px;
}
.card-title {
  color: #181a20;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  padding-top: 19px;
  padding-bottom: 6px;
  padding-left: 0;
}

.houseAddress {
  color: #717171;
  font-size: 13px;
  line-height: 24.7px;
}

.card .houseDetails {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-text {
  color: #181a20;
  font-size: 13px;
  line-height: 24.7px;
}

.card hr {
  border: 1px solid #e9e9e9;
}

.myPagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
}
.nextCardDot {
  width: 6px;
  height: 6px;
  background: #C0C0C0;
  border-radius: 50%;
}
.cardPageSelected {
  width: 8px;
  height: 8px;
  background: #000;
}
/* Featured Section Ends */

/* Cities Section Starts */
#cities {
  padding: 121px 0;
}
.cardContainer {
  justify-content: space-between;
}
#cities .card {
  max-width: 270px;
}
#cities .card-img-top {
  border-radius: 5px;
  max-width: 270px;
  height: 270px;
}
#cities .card-title {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #181A20;
}
#cities .card-text {
  padding-top: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24.7px;
  color: #181A20;
}
/* Cities Section Ends */

/* Help Section Starts */
#help .container {
  background: #FDF0EE;
  padding: 115px 0;
  text-align: center;
}
.helpCard {
  justify-content: space-between;
}
.helpCard .card {
  padding-bottom: 20px;
  border-radius: 12px;
  transition: all 0.3s;
}
.helpCard .card:hover {
  box-shadow: 0 10px 40px 0 rgba(24, 26, 32, 0.06);
}
.helpCard .card-img-top {
  padding: 20px;
}
.helpCard .card-title {
  color: #181A20;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.helpCard .card-text {
  color: #181A20;
  font-size: 14px;
  line-height: 26.6px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.helpCard .btn {
  color: #eb6753;
  padding: 20px 30px;
  border: 1px solid #EB6753;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  transition: all 0.3s;
}
.helpCard .btn:hover {
  background: #EB6753;
  color: #fff;
}
/* Help Section Ends */

/* Dream Home Section Starts */
#dreamHome {
  padding: 115px 0;
}
#dreamHome .row {
  align-items: center;
}
.dreamHomeImg {
  display: flex;
  justify-content: center;
  position: relative;
}
.watchVideo {
  padding: 21px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 50px 0 rgba(24, 26, 32, 0.07);
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 0;
  top: 89px;
}
.watchVid {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #181A20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watchVid i {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #181A20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.watchVid h6 {
  color: #181A20;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
}
.aptCard {
  padding: 21px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 50px 0 rgba(24, 26, 32, 0.07);
  position: absolute;
  bottom: 100px;
  left: 50px;
}
.aptCard p {
  color: #6c757d;
  padding: 20px 0;
}
.aptDetailsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.aptDetails {
  display: flex;
  align-items: center;
  gap: 5px;
}
.aptCardLink a {
  color: #181A20;
  font-size: 20px;
  font-weight: 500;
}
.dreamHomeContent {
  display: flex;
  justify-content: end;
}
.dreamHomeContent h2 {
  color: #181A20;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  max-width: 370px;
}
.dreamHomeContent p {
  color: #181A20;
  font-size: 14px;
  line-height: 26.6px;
  max-width: 353px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.homeDetails h4 {
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
}
.homeDetails p {
  font-size: 14px;
  line-height: 35px;
  padding-top: 5px;
  padding-bottom: 30px;
}
.dreamHomeContent a {
  background: #eb6753;
  color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
}
.dreamHomeContent a i {
  color: #fff;
}
/* Dream Home Section Ends */

/* Testimonial Section Starts */
#testimonial {
  text-align: center;
}
#testimonial .container {
  padding: 115px 0;
  background: #F7F7F7;
  border-radius: 12px;
}
#testimonial .sectionDesc {
  padding-bottom: 52px;
}
.fa-quote-left {
  color: #6c757d59;
  font-size: 60px;
}
.reviewText {
  max-width: 729px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  line-height: 44px;
  padding-top: 15px;
  padding-bottom: 20px;
}
#testimonial h6 {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.testimonialRole {
  font-size: 13px;
  line-height: 24.7px;
  padding-top: 15px;
  padding-bottom: 25px;
}
.testimonialImg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
/* Testimonial Section Ends */

/* Agents Section Starts */
#agents {
  padding: 115px 0;
}
.agentCard {
  padding-top: 50px;
  justify-content: space-between;
  row-gap: 30px;
}
.agentCardItem h6 {
  color: #181A20;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 10px;
}
/* Agents Section Ends */

/* Brands Section Starts */
#brands {
  text-align: center;
}
.logoContainer {
  padding-top: 50px;
  padding-bottom: 115px;
}
/* Brands Section Ends */

/* CTA Section Starts */
#cta .container{
  background: url("../images/ctaBgImg.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 100px 0;
  width: 95vw;
  margin: 0 auto -70px;
}
#cta .row {
  align-items: center;
}
#cta .sectionHeading, #cta .sectionDesc, .ctaBtn a {
  color: #fff;
}
#cta .sectionHeading {
  max-width: 364px;
  line-height: 45px;
}
#cta .sectionDesc {
  padding-top: 10.5px;
  padding-bottom: 13.5px;
}
.ctaBtn {
  padding-top: 20px;
}
.ctaBtn a {
  padding: 19px 31px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  background: #181A20;
  border-radius: 12px;
}

/* CTA Section Ends */

/* Footer Section Starts */
#footer {
  background: #181A20;
  padding-top: 210px;
  color: #fff;
}
.footerTop {
  align-items: center;
}
.contactItem p:first-child {
  color: #BEBDBD;
  font-size: 14px;
  line-height: 14px;
}
.contactInfo {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 75px;
}
.contactItem p:last-child {
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding-top: 15px;
}
#footer label {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding-bottom: 25px;
}
#footer .input-group {
  background: rgba(100, 100, 100, 0.08);
  border-radius: 12px;
}
#footer .input-group input {
  background: rgba(100, 100, 100, 0.08);
  color: #fff;
  border: none;
  padding: 25px 29px;
}
#footer .input-group input::placeholder {
  color: #fff;
}
#footer .input-group .btn {
  background: rgba(100, 100, 100, 0.08);
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 28.5px;
}
.footerBottom h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding-top: 55px;
  padding-bottom: 18px;
}
.storeCard {
  display: flex;
  align-items: center;
  gap: 10px;
}
.storeCard .cardItem {
  padding: 15px 25px;
  background: rgba(100, 100, 100, 0.04);
  border-radius: 12px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.storeCard .cardItem i {
  font-size: 26px;
}
.storeCard .cardItem p:first-child {
  color: #BEBDBD;
  font-size: 13px;
  line-height: 13px;
}
.storeCard .cardItem p:last-child {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  padding-top: 8px;
}
.socialMedia h5{
  padding-top: 55px;
  padding-bottom: 35px;
}
.socialLinks {
  display: flex;
  align-items: center;
  gap: 31px;
}
.socialLinks i {
  color: #BEBDBD;
  font-size: 14px;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
.footerLinkLeft {
  justify-content: start;
}
.footerLinkRight {
  justify-content: end;
}
.footerLinks h5 {
  padding-bottom: 30px;
}
.footerLinks a {
  display: block;
  color: #BEBDBD;
  font-size: 14px;
  line-height: 26.6px;
  padding-bottom: 12px;
}
#footer hr {
  border: 1px solid rgba(100, 100, 100, 0.4);
  margin-top: 75px;
}
.copyrightInfo {
  padding: 20px 0;
  align-items: center;
}
.copyrightInfo p {
  color: #BEBDBD;
  font-size: 14px;
  line-height: 26.6px;
}
.copyRight {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}
.copyRight a {
  color: #BEBDBD;
  font-size: 14px;
  line-height: 26.6px;
}
.copyrightDot {
  width: 2px;
  height: 2px;
  background: #BEBDBD;
  border-radius: 50%;
}
/* Footer Section Ends */
